cmake_minimum_required(VERSION 3.21)
project(WarpII_Extension)

set(CMAKE_CXX_STANDARD 17)

list(INSERT CMAKE_PREFIX_PATH 0 @DEALII_INSTALL_DIR@)

find_package(deal.II @DEALII_VERSION@ REQUIRED)
set(DEAL_II_WITH_MPI ON)
deal_ii_initialize_cached_variables()

add_executable(main main.cc)
target_link_libraries(main libwarpii)
deal_ii_setup_target(main)

add_custom_command(TARGET main
    POST_BUILD
    COMMAND ln -s ${CMAKE_SOURCE_DIR} ${CMAKE_BINARY_DIR}/main)
